@font-face {
    src: url("../../fonts/Jura-VariableFont_wght.ttf");
}

.root {
    -fx-font-family: "Jura", helvetica, arial, sans-serif;
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}


.label-error {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.label-measurement {
    -fx-font-size: 64px;
    -fx-font-weight: bold;
}

.label-text {
    -fx-font-size: 24px;
}

.label-value {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}


/* Chart */

.chart-major-grid-lines {
    -fx-stroke: derive(red, -10%);
    -fx-stroke-dash-array: 1.5, 2.5;
    -fx-stroke-width: 0.5;
    -fx-grid-on-top: true;
}

.axis-label {
    -fx-font-size: 14px;
    -fx-text-fill: #4682b4;
}

.axis-tick-label {}
.axis-major-tick-mark {}
.axis-minor-tick-mark {}