.axis-label {
    -fx-text-fill: #4682b4;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 0px;
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
}
.chart-legend-item {
    -fx-padding: 15;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-series-line {
    -fx-stroke-width: 3px;
    -fx-effect: null;
}
