@font-face {
    src: url("../../fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
    src: url("../../fonts/Hack-Bold.ttf");
}

@font-face {
    src: url("../../fonts/Hack-Regular.ttf");
}

.root {
    -fx-font-family: "Inter", helvetica, arial, sans-serif;
    -fx-font-weight: normal;
    -fx-font-size: 16px;
}

.axis-label {
    -fx-text-fill: #4682b4;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 0px;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.chart-legend-item {
    -fx-padding: 15;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines {
    /*-fx-stroke: #3278fa;*/
    -fx-stroke: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-series-line {
    -fx-stroke: red;
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.label-error {
    -fx-font-family: "Hack", helvetica, arial, sans-serif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.label-measurement {
    -fx-font-family: "Hack", helvetica, arial, sans-serif;
    -fx-font-size: 64px;
    -fx-font-weight: bold;
}

.label-text {
    -fx-font-size: 24px;
}

.label-value {
    -fx-font-family: "Hack", helvetica, arial, sans-serif;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}